body{
    background-image: url(../img/BrPaquete_01.png);
    
}

.crucero{
    background-image: url(../img/CrPaqueteBG.png);
}

.cuba{
    background-image: url(../img/CuPaqueteBG.png);
}

.vcp{
    background-image: url(../img/VcpPaqueteBG.png);
}

.quinc{
    background-image: url(../img/15PaqueteBG.png);
}

.fijo{
    position:static;
}

.vcpText{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.192) 0%, rgba(255, 255, 255, 0) 60%);
}

.presentationInsidePaquete{
    text-align: center;
    line-height: 90%;
    color: white;
    margin-bottom: 3%;
}

.titleInsidePaquete{
    font-family: "SourceBold";
    font-size: 2em;
    line-height: 90%;
}

.subInsidePaquete{
    font-family: "SourceRegular";
    line-height: 90%;
    font-size: 1.2em;
    letter-spacing: -0.1ch;
}

.contInsidePaquete{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-bottom: 5%;
}

.imgContInsidePaquete{
    width: 100%;
    height: 16em;
}

.imgContInsidePaquete img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoContInsidePaquete{
    background-color: white;
    
    padding-bottom: 2%;
}

.filaInfoInside{
    display: flex;
    width: 100%;
    margin: 5% 0%;
}

.imgInfoInside{
    width: 2.2em;
    padding: 0% 5%;
    height: 2.2em;
}

.imgInfoInside img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
  
}

.presentationInfo{
    width: 85%;
    padding-right:5%;
    line-height: 110%;
}

.presentationInfo h3{
    font-family: "SourceBold";
    font-size: 1.1em;
    color: #7b7272;
    margin-bottom: 1%;
    letter-spacing: -0.03em;
}

.presentationInfo p{
    font-family: "SourceRegular";
    font-size: 0.7em;
    color: #7b7272;
    line-height: 130%;
}


.btnPaquete {
    background-color: #f9b000;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    width: 20%;
    font-family:"SourceBlack";
    font-size: 0.8em;
    
    margin:auto;
   margin-top: 8%;
    padding: .5rem 0rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
    
  
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 3rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.825rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #000000;
    border-right: 0.125rem solid #000000;
    transform: rotate(225deg);
   }
   
   
   