/*||||||||||||||||||||| FONTS |||||||||||||||||||||*/ 

@font-face {
    font-family: "SourceBold";
    src: url(../fonts/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: "SourceSemiBold";
    src: url(../fonts/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: "SourceBlack";
    src: url(../fonts/SourceSansPro-Black.otf);
}
@font-face {
    font-family: "SourceRegular";
    src: url(../fonts/SourceSansPro-Regular.otf);
}

/*||||||||||||||||||||| GRAL |||||||||||||||||||||*/ 

html {
    scroll-behavior: smooth;
  }

html, body {
    
   
    --nav-height: 5em;
}

a{
    text-decoration:none;
    color: white;

}

body {
    
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #757575;
    margin: 0;
    padding: 0;
}


/*||||||||||||||||||||| NAV |||||||||||||||||||||*/ 

.fijo{
    position:static;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-height);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 16%, rgba(1, 0, 88, 0.479) 85%);
    backdrop-filter: blur(1px);
    z-index: 999;
    transition: 0.5s;
}

p,h1,h2,h3,a{
    margin: 0;
}

.contNAV{
    width: 55%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}


.logoNAV img{
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.itemsNAV{
    width: 75%;
}

.itemsNAV ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 0.55em;
    justify-content: space-evenly;
    color: white;
    font-family: "SourceBold";
    letter-spacing: 0.3ch;
}
.itemsNAV ul li a{
    transition: 0.5s;
    color: rgb(255, 255, 255);
}


.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }

.nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }
  
  /* <reset-style> ============================ */
.menu__icon{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    display: none;
  }
  /* <main-style> ============================ */
  .menu__icon {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    background-color: rgb(29, 29, 31, .7);
    backdrop-filter: saturate(180%) blur(20px);
    border: solid 1px rgba(66,66,69,0.7);
    position: relative;
  }
  
  .menu__icon span {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: calc(.25rem - 1px);
    left: calc(.25rem - 1px);
    transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
  }
  
  .menu__icon span:before {
    content: '';
    width: 1.5rem;
    height: .125rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform .1596s cubic-bezier(.52,.16,.52,.84) .1008s;
  }
  
  .menu__icon span:nth-child(1)::before {
    top: .625rem;
    transform: translateY(-3px);
  }
  
  .menu__icon span:nth-child(2)::before {
    bottom: .625rem;
    transform: translateY(3px);
  }

  .menuWrapper{
    width: 100vw;
    height: 100vh;
    background-color: #0068b3;
    position:fixed;
    top:0;
    bottom: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "SourceBold";
    font-size: 1.5em;
  }
  
  .menuWrapper a{
    line-height: 150%;
  }

  #cross{
    top: 4%;
    right: 5%;
    position: absolute;
    height: 30px;
    width: 30px;
    cursor: pointer;

   }

   #cross img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
   .itemsNAV ul li {
    display: inline-block;
  }
  .itemsNAV ul li a {
    display: block;
    
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  .itemsNAV ul li a,
  .itemsNAV ul li a:after,
  .itemsNAV ul li a:before {
    transition: all .5s;
  }
  .itemsNAV ul li a:hover {
    color: #ffffff;
  }
nav .stroke ul li a,
nav .fill ul li a {
  position: relative;
}
nav .stroke ul li a:after,
nav .fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 1.5px;
}
nav .stroke ul li a:hover:after {
  width: 100%;
}

nav .fill ul li a {
  transition: all 2s;
}

nav .fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav .fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav .fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

  
/*||||||||||||||||||||| HEADER |||||||||||||||||||||*/ 

.s-header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/headDCR.png);
   
    background-position: center center;
    background-size: cover;
    position: relative;
}

.headerTXT{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.headerTXT h3{
    color: white;
    text-align: center;
    line-height: 70%;
    font-size: 3.5em;
    font-family: "SourceSemiBold";
    letter-spacing: -0.1ch;
    margin-bottom: 3%;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
 transition: 0.5s;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "SourceBold";
  font-size: 1.1em;
  font-weight: 600;
  line-height: 90%;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 9em;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.SocialSIDE{
    display: flex;
    justify-content: space-evenly;
   width: 15%;
}   


.SocialSIDE a img{
    height: 1.3em;
    object-fit: contain;
    transition: 0.5s;
}

.SocialSIDE a img:hover{
    scale: 1.1;
}

.sinceCont{

    margin-bottom: 0.5%;
    width: 9em;
    object-fit: contain;
}

/*||||||||||||||||||||| VIAJES |||||||||||||||||||||*/ 

.s-viajes{
    width: 100%;
    padding: 5% 0%;
    background-image: url(../img/bgVIAJES.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.titleViajes{
    color: white !important;
    
}

.contViajes{
    position: relative;
    width: 80%;
    margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.quadViajes{
    
    width: 30em;
    
}

.columnViajes{
    display: flex;
    width: 100%;
    height: 15em;
}

.itemViajes{
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.itemViajes img{
    display: block;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.itemViajes:hover img{
    transform: scale(1.1);
  transform-origin: 50% 50%;
  
}

.superItem{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5% 0%;
}

.superItem img{
    width: 80%;
    height: auto;
    margin-bottom: 2%;
}

.itemViajes:hover .superItem img{
    transform: scale(1);
}

.button-36 {
  background-color: #f9b000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family:"SourceBlack";
  font-size: 0.75em;
  font-weight: 500;
  
  width: 57%;
  padding: 1rem 0rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 50;
  

}

.itemViajes:hover .button-36 {
  box-shadow: #f9b000 0 1px 30px;
  transition-duration: .1s;
}





@media (min-width: 768px) {
  .button-36 {
    padding: 1rem 2.6rem;
  }
}

.item15{
    
    width: 100%;
    margin: auto;
    margin-top: 1%;
    height: 3.5em;
    
    
}

.item15 img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.item15 .im15-2{
    display: none;
}

/*||||||||||||||||||||| INFO |||||||||||||||||||||*/

.s-info{
    position: relative;
    width: 100%;
    padding: 5% 0%;
    background-image: url(../img/BgInfo.png);
    background-position: center center;
    background-size: cover;
}

.infoHEAD{
    width: 100%;
    height:20em;
}

.infoHEAD img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.titleInfo{
    margin-bottom: 1%;
    text-align: center;
    font-family: "SourceBold";
    color: #0068b3;
    font-size: 2em;
    letter-spacing: -0.04em;
}

.infoTXT{
    text-align: center;
    width: 55%;
    margin: auto;
    color: #878787;
}

.dataInfo{
    font-family: "SourceSemiBold";
    font-size: 0.65em;
    line-height: 150%;
}



.subtitleInfo{
    margin-top: 2%;
    font-family: "SourceBold";
    font-size: 1.5em;
    letter-spacing: -0.04em;
}

.tr1 {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #0068b3b6 transparent transparent transparent;
    transform: rotate(0deg);
 }

 .tr2 {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 150px 150px 0;
    border-color: transparent #0068b3b6 transparent transparent;
    transform: rotate(0deg);
 }

 .imgfrMobile{
    display: none;
    width: 100%;
 }


/*||||||||||||||||||||| CONTACTO |||||||||||||||||||||*/

.s-contacto{
 padding: 5%;
 background-image: url(../img/bgContacto.png);
 background-position: center 0px;
 background-size: cover;
}

.titleContact{
    line-height: 120%;

}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  form{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    margin: auto;
  }

  label{
    font-family: "SourceSemiBold";
    font-size: 0.7em;
  }

  input{
    height: 2.5em;
    background-color: transparent;
    border-width: 1px;
    border-color: #0000004d;
  }

  textarea{
    background-color: transparent;
    border-color: #0000004d;
  }

  .btnForm{
    background-color: #0068b3;
    margin: 2% auto;
    margin-bottom: 4%;
    width: 10em;
    font-size: 0.6em;
  }

  .infoContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoTXT .SocialSIDE{
    margin-top: 1%;
  }

  .relBrands{
    
    
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .relBrands img{
   margin: 0% 2%; 
    width: 8%;
    object-fit: contain;
  }

  

/*||||||||||||||||||||| MEDIA-QUERYS |||||||||||||||||||||*/

@media (max-width: 1500px) {
    .relBrands img{
        width: 10%;
    }

}

@media (max-width: 1400px) {
    
    .headerTXT h3{
        margin-bottom: 5%;
    }

    .contNAV{
        width: 70%;
    }



}

@media (max-width: 1300px) {
    
    .quadViajes{
        width: 26em ;
    }
    .columnViajes {
        display: flex;
        width: 100%;
        height: 13em;
    }
    .button-36{
        font-size: 0.65em;
    }
    .infoTXT{
        width: 80%;
    }
    .relBrands img{
        width: 12%;
    }
}

@media (max-width: 1200px) {
    
    .headerTXT h3 {
        font-size: 3.5em;
    }

    .contNAV{
        width: 90%;
    }

    .button-28{
        font-size: 1.1em;
    }

    .SocialSIDE{
        width: 25%;
    }

}

@media (max-width: 1000px) {

    .headerTXT h3 {
        font-size: 3.5em;
    }
    .contNAV{
        width: 95%;
    }
    .button-28{
        font-size: 1.1em;
    }
    .relBrands img{
        width: 14%;
    }
}

@media (max-width: 900px) {

    .quadViajes{
        width: 24em ;
    }
    .columnViajes {
        display: flex;
        width: 100%;
        height: 12em;
    }
    .button-36{
        font-size: 0.55em;
        padding: 1rem 0em;
    }

    .s-info{
        background-size: cover;
    }

    .contNAV{
        width: 90%;
    }

    .button-28{
        font-size: 1em;
    }

    .SocialSIDE{
        width: 40%;
    }
    .item15{
        height: 3.2em;
    }

    .sinceCont{
        width: 7em;
    }
    .relBrands img{
        width: 16%;
    }
}

@media (max-width: 800px) {

    .quadViajes{
        width: 22em ;
    }
    .columnViajes {
        display: flex;
        width: 100%;
        height: 11em;
    }

    .itemsNAV{
        display: none;
    }
    .menu__icon{
        display: block;
    }

    .item15{
        height: 3em;
    }
}

@media (max-width: 700px) {

    .quadViajes{
        width: 20em ;
    }
    .columnViajes {
        display: flex;
        width: 100%;
        height: 10em;
    }
    .button-36{
        font-size: 0.6em;
        padding: 0.8rem 0em;
    }

    .item15{
        height: 2.7em;
    }

    .headerTXT h3 {
        font-size: 3.3em;
        margin-bottom: 7%
    }

    html, body {
    
   
        --nav-height: 6em;
    }
    .headerTXT{
        bottom: 15%;
    }
    #cross{
        top: 5.5%;
    }

    .titleInfo{
        font-size: 1.8em;
    }
    
    .infoTXT{
        font-size: .9em;
    }
    .relBrands img{
        width: 18%;
    }
}



@media (max-width: 600px) {

    .item15 .im15-1{
        display: none;
    }
    
    .item15 .im15-2{
        display: block;
    }
    .quadViajes{
        width: 11em ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .columnViajes {
        display: flex;
        width: 100%;
        height: 22em;
        flex-direction: column;
        align-items: center;
    }
    .itemViajes{
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }
    .item15{
        height: 11em;
    }
    .s-info{
        background-color: white;
        background-image: none;
       padding-bottom: 0%;
    }
    .s-viajes{
        padding: 10% 0%;
        background-image: url(../img/bgVIAJESMobile.png);
        background-position:center 70% ;
    }

    .s-contacto{
        background-image: url(../img/bgContactoMobile.png);
        background-position: 100% 50%;
        padding: 10% 0%;
    }
    

    label{
        font-size: .6em;
    }

    

    .imgfrMobile{
        display: block;
        width: 100%;
        
        
        object-fit: cover;
    }

}

@media (max-width: 550px) {

    form{
        width: 90%;
    }

    .menuWrapper{
        font-size: 1.4em;
    }
    

    .button-36{
        font-size: 0.55em;
        padding: 0.8rem 0em;
        width: 50%;
    }

    .btnForm{
        font-size: .65em;
    }

    .button-28{
        font-size: 0.9em;
    }

    .headerTXT h3 {
        font-size: 2.5em;
    }

    .titleInfo{
        font-size: 1.8em;
        line-height: 80%;
        margin-bottom: 8%;
    }
    .infoTXT h3{
        line-height: 90%;
        margin-top: 8%;
        margin-bottom: 4%;
        font-size: 1.2em;
    }
    
    .dataInfo{
        font-size: .6em;
        line-height: 130%;
    }
   
    .logoNAV{
        width: 4.5em;
        height: 4.5em;
    }

    .whatsapp{
        
    right: 20px;    
    }

    .sinceCont{
        width:6em;
    }
    .relBrands img{
        width: 20%;
    }
}

@media (max-width: 400px) {

    .item15{
        height: 9em;
    }
    
    .quadViajes{
        width: 9em ;
       
    }
    .columnViajes {
        
        height: 18em;
      
    }
    
    .infoTXT{
        width: 90%;
    }
    .titleInfo{
        font-size: 1.5em;
        margin-bottom: 4%;
    }
    .dataInfo{
        font-size: .5em;
    }
    .infoTXT h3{
        font-size: 1.1em;
        margin-top: 6%;
    margin-bottom: 3%;
    }

    .button-36{
        font-size: 0.5em;
        padding: 0.6rem 0em;
    }

    .SocialSIDE{
        width: 55%;
    }
    .headerTXT h3 {
        font-size: 2em;
    }
   
    
    .btnForm{
        font-size: .65em;
    }

    .quinctxt{
        font-size: 1.4em !important;
    }
}





